/* You can add global styles to this file, and also import other style files */

* {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
}